# To opt out of the system crypto-policies configuration of krb5, remove the
# symlink at /etc/krb5.conf.d/crypto-policies which will not be recreated.
includedir /etc/krb5.conf.d/

[logging]
    default = FILE:/var/log/krb5libs.log
    kdc = FILE:/var/log/krb5kdc.log
    admin_server = FILE:/var/log/kadmind.log

[libdefaults]
    ticket_lifetime = 24h
    forwardable = true
    default_realm = {{ activedirectorydomain|upper }}

[appdefaults]
    pam = {
        debug = false
        ticket_lifetime = 36000
        renew_lifetime = 36000
        forwardable = true
        krb4_convert = false
    }

[realms]
 {{ activedirectorydomainCAP }} = {
     kdc = {{ domaincontroller }}
     admin_server = {{ domaincontroller }}
 }

[domain_realm]
 .{{ activedirectorydomain }} = {{ activedirectorydomain|upper }}
 {{ activedirectorydomain }} = {{ activedirectorydomain|upper }}